*~
*.o
*.lo
*.a
*.so
*.la
.*.o.d
.*.lo.d
*.asciidoc
*.html
.deps
.libs
.dirstamp
.version
Makefile
Makefile.in
auxdir/
build_tools/menuselect-deps
aclocal.m4
autom4te.cache/
autoconfig.h
autoconfig.h.in
config.log
config.status
config.guess
config.ignore
configure
dahdi_cfg
dahdi_diag
dahdi_maint
dahdi_monitor
dahdi_pcap
dahdi_scan
dahdi_speed
dahdi_test
dahdi_tool
fxotune
fxstest
genconf_parameters.sample
hdlcgen
hdlcstress
hdlctest
hdlcverify
libtool
m4/
makeopts
patgen
patlooptest
pattest
sethdlc
stamp-h1
timertest
tonezone.lo
tonezones.txt
version.c
xpp/*.check
xpp/.depend
xpp/.octasic.depend
xpp/.perlcheck
xpp/astribank_allow
xpp/astribank_hexload
xpp/astribank_is_starting
xpp/astribank_tool
xpp/dahdi_genconf.8
xpp/dahdi_hardware.8
xpp/dahdi_registration.8
xpp/lsdahdi.8
xpp/test_parse
xpp/twinstar.8
xpp/xpp_blink.8
xpp/xpp_sync.8
xpp/xtalk/xlist_test
xpp/xtalk/xtalk_raw_test
xpp/xtalk/xtalk_send
xpp/xtalk/xtalk_test
xpp/xtalk/xusb_test
xpp/xtalk/xusb_test_bypath
zonedata.lo
